@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

body {
  background-color: white;
  font: 20px "Poppins", sans-serif;
  color: #333;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}
.wrapper {
  padding: 40px;
  border: 1px solid rgb(61, 151, 151);
  box-shadow: 0px 0px 15px rgb(254, 254, 254);
  border-radius: 10px;
  max-width: 450px;
  margin: 50px;
}
h2 {
  margin: 0;
  padding-bottom: 20px;
}
ul {
  list-style: square;
  margin: 0;
  padding-top: 40px;
  padding-left: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.to-do-input {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#tasks {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
#item {
  padding: 5px 10px;
  border-radius: 10px;
  outline: 1px solid crimson;
  box-shadow: 0px 0px 5px 0px white;
}
#item::placeholder {
  color: #888;
  font-weight: bold;
}
#enter {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  box-shadow: 0px 0px 10px 0px white;
}
#enter::placeholder {
  color: #888;
  font-weight: bold;
}
.block-body input {
  outline: none;
}
.theme > div input {
  padding: 3px;
  border: none;
  outline: none;
}
.theme,
.theme > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.theme {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid rgb(128, 128, 128);
  padding: 10px;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(136, 136, 136);
  border: 2px solid white;
}
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.close {
  cursor: pointer;
  color: red;
  font-size: 10px;
}
.input-controller {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  order: 1px solid rgb(61, 151, 151);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(254, 254, 254);
  font-size: 16px;
}
.blue {
  color: blue;
  margin: 0;
}
