@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);
body {
  background-color: white;
  font: 20px "Poppins", sans-serif;
  color: #333;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

.wrapper {
  padding: 40px;
  border: 1px solid rgb(61, 151, 151);
  -webkit-box-shadow: 0px 0px 15px rgb(254, 254, 254);
          box-shadow: 0px 0px 15px rgb(254, 254, 254);
  border-radius: 10px;
  max-width: 450px;
  margin: 50px;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
}

ul {
  list-style: square;
  margin: 0;
  padding-top: 40px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.to-do-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

#tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

#item {
  padding: 5px 10px;
  border-radius: 10px;
  outline: 1px solid crimson;
  -webkit-box-shadow: 0px 0px 5px 0px white;
          box-shadow: 0px 0px 5px 0px white;
}

#item::-webkit-input-placeholder {
  color: #888;
  font-weight: bold;
}

#item::-moz-placeholder {
  color: #888;
  font-weight: bold;
}

#item:-ms-input-placeholder {
  color: #888;
  font-weight: bold;
}

#item::-ms-input-placeholder {
  color: #888;
  font-weight: bold;
}

#item::placeholder {
  color: #888;
  font-weight: bold;
}

#enter {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px white;
          box-shadow: 0px 0px 10px 0px white;
}

#enter::-webkit-input-placeholder {
  color: #888;
  font-weight: bold;
}

#enter::-moz-placeholder {
  color: #888;
  font-weight: bold;
}

#enter:-ms-input-placeholder {
  color: #888;
  font-weight: bold;
}

#enter::-ms-input-placeholder {
  color: #888;
  font-weight: bold;
}

#enter::placeholder {
  color: #888;
  font-weight: bold;
}

.block-body input {
  outline: none;
}

.theme > div input {
  padding: 3px;
  border: none;
  outline: none;
}

.theme,
.theme > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.theme {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid rgb(128, 128, 128);
  padding: 10px;
}

input[type=radio]::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(136, 136, 136);
  border: 2px solid white;
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.close {
  cursor: pointer;
  color: red;
  font-size: 10px;
}

.input-controller {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1px solid rgb(61, 151, 151);
          order: 1px solid rgb(61, 151, 151);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px rgb(254, 254, 254);
          box-shadow: 0px 0px 10px rgb(254, 254, 254);
  font-size: 16px;
}

.blue {
  color: blue;
  margin: 0;
}