body {
  background-color: rgb(243, 139, 70);
  color: #333;
  position: relative;
}
.wrapper {
  padding: 40px;
  border: 1px solid rgb(231, 97, 9);
  box-shadow: 0px 0px 15px rgb(254, 254, 254);
  border-radius: 10px;
  max-width: 450px;
  margin: 50px;
}
#enter {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: darkgreen;
  color: white;
  box-shadow: 0px 0px 10px 0px white;
}
#item {
  padding: 5px 10px;
  border-radius: 10px;
  outline: 1px solid darkgreen;
  box-shadow: 0px 0px 5px 0px white;
}
input[type="radio"] {
  position: relative;
  height: 10px;
  width: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(243, 139, 70);
  border: 2px solid white;
}
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(184, 76, 4);
  transform: translate(-50%, -50%);
  visibility: visible;
}
.addBtn {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid rgb(231, 97, 9);
  box-shadow: 0px 0px 10px rgb(254, 254, 254);
  background-color: rgb(231, 97, 9);
  color: white;
}
#clear {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid rgb(231, 97, 9);
  box-shadow: 0px 0px 10px rgb(254, 254, 254);
  background-color: rgb(231, 97, 9);
  color: white;
}
#toDoEl {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(231, 97, 9);
  box-shadow: 0px 0px 10px rgb(254, 254, 254);
}
li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid rgb(231, 97, 9);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(254, 254, 254);
  font-size: 16px;
}
